@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", Arial;
}

body p {
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home_header {
  height: 100vh;
  background-image: url("images/home_header.jpg");
}

.about p,
.info p {
  padding-top: 20px;
  margin-bottom: 0px;
  font-weight: 400;
}

.test_header {
  height: 50vh;
  background-image: url("images/test_header.png");
}

.form-check input {
  background-color: rgb(232, 232, 232);
  width: 1.5rem;
  height: 1.5rem;
}

.form-check label {
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;
  padding-left: 8px;
}

.questions .form-check-input:checked {
  background-color: rgb(53, 135, 149);
  border-color: rgb(53, 135, 149);
}

.o_header {
  height: 50vh;
  background-image: url("images/traits/headers/o_header.png");
}

.c_header {
  height: 50vh;
  background-image: url("images/traits/headers/c_header.png");
}

.e_header {
  height: 50vh;
  background-image: url("images/traits/headers/e_header.png");
}

.a_header {
  height: 50vh;
  background-image: url("images/traits/headers/a_header.png");
}
.n_header {
  height: 50vh;
  background-image: url("images/traits/headers/n_header.png");
}

.articles_header {
  height: 50vh;
  background-image: url("images/articles_header.png");
}

.research_header {
  height: 50vh;
  background-image: url("images/research_header.png");
}


.high_low_row li {
  padding-top: 7px;
  font-size: 18px;
}

li::marker {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

.question {
  margin-top: 30px;
}

#result {
  display: none;
}

#result p {
  font-size: 27px;
  margin: 0px;
}